doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    include orderView

    script.
      setTimeout( function(){
        console.log('RELOAD!!!');
        window.location.reload();
      }, 2000);
